@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-white: #fff;
  --color-black: #000;
  --color-grey: #e6e6e6;
  --color-greyDark: #1e1e1e;

  --color-primary: #8C3BF0;
  --color-highLight: #FFC107;
  --color-dark: #2A2A2A;
  --color-light: #F5F5F5;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 380px;
  box-sizing: border-box;
  color: light-dark(var(--color-black), var(--color-white));
  background-color: light-dark(var(--color-grey), var(--color-black));
  text-align: center;
  overflow-x: hidden;
}

header,
section,
footer {
  max-width: 1280px;
  width: 88vw;
  margin: 0 auto;
}

p {
  font-size: clamp(1.8rem, 1.8vw, 1.9rem); /* Min: 18px, Scale: Responsivo, Max: 30px */
  line-height: clamp(2rem, 2vw, 3.2rem); /* Min: 24px, Scale: Responsivo, Max: 36px */
}

h1 {
  font-size: clamp(2.7rem, 5vw, 4.3rem); /* Min: 40px, Scale: Responsivo, Max: 72px */
  line-height: 1; /* Mantém fixo */
  font-weight: 700;
}

h2 {
  font-size: clamp(2.3rem, 4vw, 3.75rem); /* Min: 32px, Scale: Responsivo, Max: 60px */
  line-height: 1; /* Mantém fixo */
  font-weight: 700;
}

h3 {
  font-size: clamp(1.7rem, 3.5vw, 3rem); /* Min: 28px, Scale: Responsivo, Max: 48px */
  line-height: 1.1; /* Mantém uma leve separação */
  font-weight: 700;
}



.btn {
  transition: all 0.4s;
  position: relative;
  overflow: hidden;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 16px 32px;
  border-radius: 12px;
  width: fit-content;
  margin: 32px auto;
  display: block;
  font-weight: 700;
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
}

.btn:hover {
  background-color: var(--color-highLight);
  color: var(--color-black);  
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 200%;
  width: 15%;
  background-color: #fff;
  transition: all 0.4s;
  transform: translate(-80px, -30px) rotate(-35deg);
}

.btn:hover::before {
  transform: translate(320px, -30px) rotate(-35deg);
}


::selection {
  background-color: var(--color-highLight);
  color: var(--color-black);
}